body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1646px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:84px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u102_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:84px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u102_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:84px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u102_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:84px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:84px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:84px;
  display:flex;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u102_img.hint {
}
#u102.hint {
}
#u102_img.disabled {
}
#u102.disabled {
}
#u102_img.hint.disabled {
}
#u102.hint.disabled {
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u103_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u103_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u103_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:47px;
  width:95px;
  height:37px;
  display:flex;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u103_img.hint {
}
#u103.hint {
}
#u103_img.disabled {
}
#u103.disabled {
}
#u103_img.hint.disabled {
}
#u103.hint.disabled {
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:162px;
  width:1000px;
  height:600px;
  display:flex;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:446px;
  width:29px;
  height:50px;
  display:flex;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:446px;
  width:29px;
  height:50px;
  display:flex;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:91px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:91px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:91px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:91px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:72px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:91px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:226px;
  width:460px;
  height:91px;
  display:flex;
  font-size:72px;
  text-align:center;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_img.hint {
}
#u107.hint {
}
#u107_img.disabled {
}
#u107.disabled {
}
#u107_img.hint.disabled {
}
#u107.hint.disabled {
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:310px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:362px;
  width:292px;
  height:310px;
  display:flex;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  padding:2px 2px 2px 40px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u111_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  padding:2px 2px 2px 40px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u111_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  padding:2px 2px 2px 40px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u111_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  padding:2px 2px 2px 40px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#D7D7D7;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u111_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  padding:2px 2px 2px 40px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#D7D7D7;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u111_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  padding:2px 2px 2px 40px;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#D7D7D7;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:31px;
  width:449px;
  height:40px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u111_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u111.mouseOver {
}
#u111_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u111.focused {
}
#u111_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u111.hint {
}
#u111_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u111.mouseOver.hint {
}
#u111_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 152, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u111.focused.hint {
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:43px;
  width:16px;
  height:16px;
  display:flex;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112_img.selected {
}
#u112.selected {
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:35px;
  width:32px;
  height:32px;
  display:flex;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:44px;
  width:14px;
  height:14px;
  display:flex;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_img.mouseOver {
}
#u115.mouseOver {
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4B4B4B;
  text-align:left;
}
.u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4B4B4B;
  text-align:left;
}
.u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
.u117_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.043137254901960784);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4B4B4B;
  text-align:left;
}
.u117.mouseOver {
}
.u117_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.12156862745098039);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4B4B4B;
  text-align:left;
}
.u117.mouseDown {
}
.u117_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.12156862745098039);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4B4B4B;
  text-align:left;
}
.u117.mouseOver.mouseDown {
}
.u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
}
#u116-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:350px;
  height:50px;
}
#u116-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:350px;
  height:50px;
}
#u116-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:350px;
  height:50px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:72px;
  width:350px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:22px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:22px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:22px;
  width:151px;
  height:40px;
  display:flex;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:40px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:1487px;
  top:22px;
  width:159px;
  height:40px;
  display:flex;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
